.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
coverage
codecov*
out/test
.tool-versions
cliff.toml
resources/**
!resources/icon.png
.github
